*
*.*

!.gitignore
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!LICENSE
!README*.md
!.envrc

!src/
!src/**

!prog/
!prog/**

!docs/
!docs/**

!board
!board/**

!hal
!hal/**

!components
!components/**

!templates
!templates/**

!devices
!devices/**

!example 
!example/**

!bin/
!bin/**


!tools
!tools/ecos.py
!tools/install.py
!tools/sdk-manifest.json
!tools/fixdep
!tools/fixdep/**
!tools/kconfig
!tools/kconfig/**
!tools/scripts
!tools/scripts/**
!tools/toolchains/
!tools/toolchains/*.py
!tools/toolchains/*.json
!tools/ecos_cli/
!tools/ecos_cli/**

!environments/
!environments/**
!third_party/
!third_party/**

**/__pycache__/
*.py[cod]
tools/ecos_cli/build/
tools/ecos_cli/dist/
tools/ecos_cli/src/*.egg-info/
