*
*.*

!.gitignore
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!LICENSE
!README*.md
!.envrc

!src/
!src/**

!prog/
!prog/**

!docs/
!docs/**

!.test/
!.test/Makefile
!.test/config/
!.test/config/**
!.test/doc/
!.test/doc/**
!.test/scripts/
!.test/scripts/**
!.test/work/
!.test/work/README.md
!.test/reports/
!.test/reports/README.md
.test/work/**
!.test/work/README.md
.test/reports/**
!.test/reports/README.md

!board
!board/**

!hal
!hal/**

!components
!components/**

!templates
!templates/**

!devices
!devices/**

!example 
!example/**

!bin/
!bin/**


!install.sh

!tools
!tools/fixdep
!tools/fixdep/**
!tools/kconfig
!tools/kconfig/**
!tools/scripts
!tools/scripts/**
