# 选择 StartySky T1 并启用 CLINT 和系统串口驱动。
CONFIG_STARTYSKY_T1=y
CONFIG_DRIVER_SYS_UART=y
CONFIG_DRIVER_CLINT=y
CONFIG_CPU_FREQ_MHZ=20
CONFIG_UART_BAUD_RATE=115200
CONFIG_BUILD_OPT_SIZE=y
CONFIG_BUILD_OPT_FLAGS="-Os"
CONFIG_BUILD_DEBUG=y
CONFIG_FIRMWARE_NAME="startysky_t1_clint"
CONFIG_FIRMWARE_VERSION="1.0.0"
# CONFIG_LINK_LIBC is not set
# CONFIG_LINK_LIBGCC is not set
